.homepage {
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--text-white);
  font-family: var(--font-inika);
  width: 100%;
  background-color: var(--text-white);
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(/habrolinker-background-people.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.greetMsg{
  font-family: var(--font-inter);
  position: relative;
}

.greetLine{
  margin: 0;
}

.greetButtons{

  position: relative;
  display: flex;
  justify-content: center;
}

.searchButton, .signupButton {
  height: 82px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;
  border-radius: var(--br-smi);
}

.searchButton {
  background-color: var(--text-white);
  color: var(--color-black);
}

.signupButton{
  background-color: var(--color-steelblue-100);
}
