.title {
  position: relative;
}
.foundedUsers {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-26xl);
  gap: 45px;
}
.foundedUsers,
.pageContainer,
.savedUsers,
.searchContainer {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.searchContainer {
  width: 75%;
  align-self: center;
  flex-direction: row;
  align-items: flex-start;
}
.pageContainer,
.savedUsers {
  flex-direction: column;
  box-sizing: border-box;
}
.pageContainer {
  background-color: var(--slate-gray-sg020);
  width: 100vw;
  height: auto;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  gap: var(--gap-7xs);
}
.savedUsers {
  width: 100%;
  position: relative;
  background-color: var(--text-white);
  align-items: center;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
.searchResult {
  width: 100%;
}