.pageContainer {
  background-color: var(--slate-gray-sg020);
  width: 100vw;
  height: 100vh;
}

.title {
  width: 293px;
  position: relative;
  display: inline-block;
  height: 51px;
  flex-shrink: 0;
}

.foundedUsers {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-26xl);
  gap: 45px;
}

.foundedUsers,
.pageContainer,
.searchContainer,
.searchPage {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.searchContainer {
  width: 75%;
  align-self: center;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-4xs);
}

.pageContainer,
.searchPage {
  flex-direction: column;
  box-sizing: border-box;
}

.pageContainer {
  height: auto;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-31xl);
  gap: var(--gap-7xs);
}

.searchPage {
  width: 100%;
  position: relative;
  background-color: var(--text-white);
  align-items: center;
  padding: 0 0 var(--padding-81xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}

.searchResult {
  width: 100%;
}