.span {
  color: var(--color-steelblue-100);
}
.b,
.interfaceEssentialbookmarkIcon {
  position: relative;
  cursor: pointer;
}
.interfaceEssentialbookmarkIcon {
  width: 32px;
  height: 32px;
}
.interfaceEssentialbellIcon {
  width: 32px;
  position: relative;
  height: 32px;
  object-fit: cover;
}
.lilProfileIcon {
  width: 64px;
  position: relative;
  height: 64px;
  cursor: pointer;
}
.header,
.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerRight {
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.header {
  width: 1440px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--text-white);
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
