.b {
  position: relative;
}
.div {
  width: 336px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.span {
  font-weight: 600;
}
.div2 {
  position: relative;
  color: var(--color-mediumslateblue);
  cursor: pointer;
}
.div1,
.loginDiv {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--b-body-2-size);
  color: var(--color-darkgray-100);
  font-family: var(--font-inter);
}
.loginDiv {
  position: absolute;
  top: 241px;
  left: 527.5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 385px;
  height: 307px;
  flex-direction: column;
  padding: var(--padding-mid) var(--padding-3xs) var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
