.b,
.b1 {
  position: relative;
}
.b {
  font-size: var(--font-size-13xl);
}
.b1 {
  width: 276px;
  display: inline-block;
  height: 30px;
  flex-shrink: 0;
}
.habr {
  align-self: stretch;
}
.div5,
.habr {
  position: relative;
}
.div,
.div1,
.div4 {
  overflow: hidden;
  display: flex;
}
.div4 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 43px;
  color: var(--color-mediumslateblue);
}
.div,
.div1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1 {
  align-self: stretch;
  gap: var(--gap-7xs);
  font-size: var(--b-body-2-size);
  color: var(--color-darkslategray-100);
}
.div {
  flex: 1;
  gap: var(--gap-mini);
}
.avatarIcon {
  width: 130px;
  position: relative;
  height: 130px;
}
.topPart {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.b2 {
  width: 341px;
  position: relative;
  display: inline-block;
  height: 30px;
  flex-shrink: 0;
}
.div8 {
  gap: var(--gap-lgi);
}
.bottomPart,
.div8 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div11 {
  position: relative;
  cursor: pointer;
}
.frame {
  border-radius: var(--br-3xs);
  background-color: var(--color-steelblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.controllPart,
.userInfo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--text-white);
}
.userInfo {
  position: absolute;
  top: 227px;
  left: 397px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  width: 646px;
  padding: var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
